<style type="text/css">
  .justcause {
    color: red;  
  }
  
</style> 

<%= link_to contacts_path do%>
<h2>View Contacts</h2>
<%end%>
<br>
<h2>Settings</h2>
<br>  
<%= link_to new_contact_path do %>
<h2 class='justcause'>Add a New Contact</h2>
<%end%>

