<style type="text/css">
  .justcause {
    color: red;  
  }
  
</style> 



  

<br>
<br>
<%= link_to new_contact_path do %>
<h2 class='justcause'>Add a New Contact<h2>
<%end%>


<h2>View your groups</h2>
